html { 
	height: 100% }

body { 
	font-family: "Veranda", sans-serif;
  	background: turquoise;
 	background: -webkit-linear-gradient(left, #52bcb1, white);
 	background: -o-linear-gradient(right, #52bcb1, white);
 	background: -moz-linear-gradient(right, #52bcb1, white);
 	background: linear-gradient(to right, #52bcb1, white);
  
	padding-top: 30px;
 	padding-right: 30px;
  	padding-bottom: 30px;
 	padding-left: 30px;
	
		height: 100%; 
	color: black;
	text-align: center
}
	
#map_canvas { 
	width:1400px; 
	height:600px; 
	margin-left:auto; 
	margin-right: auto;
	margin-bottom: 50px
}
	
a:link {
    color: #323e5d;
}
a:visited {
    color: #604270;
  
}
