body {font-family: "Veranda", sans-serif;
  background: -webkit-linear-gradient(left, #52bcb1, white);
  background: -o-linear-gradient(right, #52bcb1, white);
  background: -moz-linear-gradient(right, #52bcb1, white);
  background: linear-gradient(to right, #52bcb1, white);
  
  padding-top: 50px;
  padding-right: 150px;
  padding-bottom: 150px;
  padding-left: 150px;
  
 }
h1 {
  text-shadow: 2px 2px #7f9299;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
   
}
a:link {
   color: #323e5d;
   text-decoration: none;
}
a:visited {
  color: #604270
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
#nav{
  border: 1px solid black
}
#nav_wrapper{
	width: auto;
	text-align: left;
}
#nav ul{
	list-style-type: none;
	padding: 1px;
	position: relative;
}
#nav ul li{
	display: inline-block;
}

#nav ul li a,visited{
	color: #323e5d;
	display: block;
	padding: 2px;
}

