body {font-family: "Veranda", sans-serif;
    background-color: turquoise;    
    background-color: -webkit-linear-gradient(left top, turquoise, lightblue);
    background-color: -o-linear-gradient(bottom right, turquoise, lightblue);
    background-color: -moz-linear-gradient(bottom right, turquoise, lightblue);
    background-color: linear-gradient(to bottom right, turquoise, lightblue);
}

h1 {
  text-shadow: 2px 2px #FFFFFF;
}
