body {font-family: "Veranda", sans-serif;
  background: turquoise;
  background: -webkit-linear-gradient(left, #52bcb1, white);
  background: -o-linear-gradient(right, #52bcb1, white);
  background: -moz-linear-gradient(right, #52bcb1, white);
  background: linear-gradient(to right, #52bcb1, white);
}
h1 {
  text-shadow: 2px 2px #375a6d;
  border-bottom: 4px solid black;
  background-color: #d7d3d0;
}
a:link {
    color: #323e5d;
}
a:visited {
  color: #604270
}
